.section {
  padding: 80px 0;
  font-family: sans-serif;
}

.section h2 {
  font-weight: 600;
  margin: 0 0 15px;
  font-size: 30px;
  line-height: 1.1;
  color: #333;
}
.section p {
    line-height: 28px;
    font-size: 15px;
    margin: 0 0 10px;
  color: #333;
}

.section ul{
    list-style: none;
    padding: 0;
}

.section ul li{
    line-height: 25px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}
