
.section{
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 60px 0 80px;
}


.img_container{
    background: #fff;
    width: 95px;
    border-radius: 10px;
    border: 2px solid orange;
    padding: 10px;
    margin:20px auto;
}

.title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #1f497d;
    margin: 15px 0;
    text-align: center;
}
.text{
    line-height: 28px;
    font-size: 15px;
    color: #333;
    text-align: center;
    font-family: sans-serif;
}