html,
body {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* color */
.text-orange{
  color: orange;
}


/* font-size */
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}


/* height */
.height-14{
  height: 14px;
}
.h-100{
  height: 100%;
}

/* Postion */
.position_relative{
  position: relative;
}

/* next image style overwrite */
.next_image_container > div{
position: unset !important;
}

.next_image_container > div div{
  padding-top: 0 !important;
}
.next_image{ 
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
}

.footer_top_logo{
  max-width: 300px !important;
}

/* 
.s:hover ~ .ok{
  display: none !important;
} */

